* {
    font-family: "RecMonoLinear Nerd Font", sans-serif;
    font-size: 15px;
}

window#waybar {
    background-color: #282828;
    color: #ebdbb2;
    border-bottom: 2px solid #3c3836;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ebdbb2;
    border-bottom: 2px solid transparent;
}

#workspaces button:hover {
    background: #3c3836;
}

#workspaces button.active {
    background-color: #3c3836;
    border-bottom: 2px solid #d79921;
}

#workspaces button.urgent {
    background-color: #cc241d;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    padding: 0 10px;
}

#clock {
    color: #d3869b;
}

#cpu {
    color: #83a598;
}

#memory {
    color: #8ec07c;
}

#network {
    color: #b8bb26;
}

#pulseaudio {
    color: #fabd2f;
}

#battery {
    color: #fe8019;
}

#battery.charging, #battery.plugged {
    color: #98971a;
}

#battery.warning:not(.charging) {
    color: #d79921;
}

#battery.critical:not(.charging) {
    color: #cc241d;
}

#network.disconnected {
    color: #928374;
}

#pulseaudio.muted {
    color: #928374;
}

#custom-vpn {
    padding: 0 10px;
    color: #928374;
}

#custom-vpn.connected {
    color: #98971a;
}
